
/* Hide scrollbar for all elements */
* {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

*::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

ul {
  display: block !important;
  list-style-type: disc !important;
  padding-left: 40px !important;
  /* padding-bottom: 1rem; */
}
ol {
  display: block !important;
  list-style-type: decimal !important;
  padding-left: 40px !important;
  /* padding-bottom: 1rem; */
}

body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  /* background: linear-gradient(var(--gray-gradient)) no-repeat; */
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: rgb(var(--gray-dark));
  font-size: 16px;
  line-height: 1.7;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  line-height: 1.2;
  margin-top: 1.5rem;
}

h1 {
  font-size: 1.5em;
  font-weight: 600;
}
h2 {
  font-size: 1.54em;
  font-weight: 600;
}
h3 {
  font-size: 1.3em;
  font-weight: 600;
}
h4 {
  font-size: 1.2em;
  font-weight: 600;
}
h5 {
  font-size: 1.1em;
  font-weight: 600;
}
strong,
b {
  font-weight: 700;
}
/* a {
	color: var(--accent);
}
a:hover {
	color: var(--accent);
} */
p {
  margin-bottom: 0em;
}
.prose p {
  margin-bottom: 0em;
}
.prose a {
  color: mediumblue;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}

code {
  padding: 2px 5px;
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  background: black !important;
  border-radius: 0.25rem;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}
hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}
