---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Image } from "astro:assets";
import { Icon } from "astro-icon";
import SvelteTypewriter from "../components/SvelteTypewriter.svelte";
import { fade, slide } from "astro:transitions";
---

<html lang="en" class="" data-theme="lofi">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="min-h-screen flex flex-col">
    <Header title={SITE_TITLE} />

    <div class="h-full flex flex-grow">
      <div
        class="hero"
        style="background-image: url(https://images.pexels.com/photos/385784/pexels-photo-385784.jpeg);"
      >
        <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content -mt-64 text-center text-neutral-content">
          <div class="max-w-md">
            <div class="">
              <div class="avatar">
                <div class="w-64 mask mask-squircle">
                  <img src="https://github.com/engageintellect.png" />
                </div>
              </div>
            </div>

            <div class="flex flex-col items-center justify-center">
              <h1 class="mb-5 text-3xl sm:text-5xl font-bold drop-shadow-lg">
                @engageintellect
              </h1>
              <p class="mb-5">
                Software Engineer, Open Source Contributor, Technologist.
              </p>

              <div class="flex items-center gap-2 w-full">
                <a href="/projects" class="btn btn-primary flex-1 w-full"
                  >Projects</a
                >
                <a href="/about" class="btn btn-primary flex-1 w-full">About</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
