---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Image } from "astro:assets";
import { Icon } from "astro-icon";
import SvelteTypewriter from "../components/SvelteTypewriter.svelte";
---

<html lang="en" class="">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />

    <div
      class="h-screen flex justify-center items-center -mt-20 max-w-4xl mx-auto"
    >
      <div class="flex flex-col md:flex-row items-center gap-5">
        <a href="/about" class="hover:animate-pulse">
          <Image
            loading="eager"
            class="object-cover h-52 w-52 lg:h-72 lg:w-72 rounded-full"
            src="https://github.com/engageintellect.png"
            alt=""
            width="1440"
            height="720"
          />
        </a>

        <div
          class="flex flex-col justify-center md:items-start items-center gap-2"
        >
          <div class="text-3xl font-semibold">@engageintellect</div>

          <SvelteTypewriter
            client:load
            typeStyle="scramble"
            inputString="Web Developer"
          />

          <div class="flex gap-2 my-5">
            <a
              href="/project"
              class="bg-gray-900 md:hover:bg-gray-800 py-2 px-4 text-white rounded"
            >
              <div class="flex items-center gap-1">
                <Icon name="ph:code-fill" width="20" />
                <div>Projects</div>
              </div>
            </a>

            <a
              href="mailto:jc9361@gmail.com"
              class="bg-teal-500 md:hover:bg-teal-400 py-2 px-4 text-white rounded"
            >
              <div class="flex items-center gap-1">
                <Icon name="ion:mail" width="20" />
                <div>Contact</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- <Footer /> -->
  </body>
</html>
