---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Image } from "astro:assets";
---

<html lang="en" class="">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />

    <div
      class="h-screen flex justify-start items-center -mt-20 max-w-4xl mx-auto"
    >
      <div class="flex flex-col md:flex-row items-center gap-5">
        <a href="/about" class="hover:animate-pulse">
          <Image
            class="object-cover h-64 w-64 lg:h-72 lg:w-72 rounded-full"
            src="https://github.com/engageintellect.png"
            alt="Astro Logo"
            width="1440"
            height="720"
          />
        </a>

        <div class="flex flex-col">
          <div class="text-3xl font-semibold">@engageintellect</div>
          <div class="text-xl">
            <a href="/project">Web Developer</a>
          </div>
          <div class="flex gap-2">
            <a
              href="/project"
              class="bg-neutral-900 py-2 px-4 text-white uppercase rounded"
              >Projects</a
            >

            <a
              href="mailto:jc9361@gmail.com"
              class="bg-teal-500 py-2 px-4 text-white uppercase rounded"
              >Contact</a
            >
          </div>
        </div>
      </div>
    </div>

    <!-- <Footer /> -->
  </body>
</html>
