---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Image } from "astro:assets";
import { Icon } from "astro-icon";
import SvelteTypewriter from "../components/SvelteTypewriter.svelte";
import { fade, slide } from "astro:transitions";
---

<html lang="en" class="" data-theme="lofi">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />

    <div class="flex justify-center sm:py-2 sm:p-2 max-w-3xl mx-auto">
      <div class="flex flex-col items-center gap-5 w-full">
        <div class="card sm:card-side bg-base-100 w-full md:shadow-lg">
          <div transition:animate="fade" class="w-full">
            <img
              src="https://github.com/engageintellect.png"
              alt="Album"
              class="sm:rounded md:rounded-r-none w-full max-h-80 object-cover"
            />
          </div>
          <div
            class="card-body flex flex-col w-full items-center justify-center"
          >
            <div class="ubuntu-bold text-3xl">@engageintellect</div>
            <SvelteTypewriter
              client:load
              typeStyle="scramble"
              inputString="Software Engineer"
            />
            <div class="card-actions justify-end max-w-md w-full">
              <div class="py-5 w-full flex flex-col gap-2">
                <div class="flex gap-2 max-w-md w-full">
                  <a
                    href="/project"
                    class="btn btn-primary btn-outline uppercase flex-1"
                  >
                    <div class="flex items-center justify-between gap-2 w-full">
                      <div>Projects</div>
                      <Icon name="ph:code-fill" width="20" />
                    </div>
                  </a>

                  <a href="/articles" class="btn btn-outline uppercase flex-1">
                    <div class="flex items-center justify-between gap-2 w-full">
                      <div>Articles</div>
                      <Icon name="ri:article-fill" width="20" />
                    </div>
                  </a>
                </div>

                <div class="flex gap-2 max-w-md w-full">
                  <a
                    href="/about"
                    class="btn btn-primary btn-outline uppercase flex-1"
                  >
                    <div class="flex items-center justify-between gap-2 w-full">
                      <div>About</div>
                      <Icon name="ic:baseline-account-circle" width="20" />
                    </div>
                  </a>

                  <a
                    href="mailto:engage_intellect@protonmail.com"
                    class="btn btn-outline uppercase flex-1"
                  >
                    <div class="flex items-center justify-between gap-2 w-full">
                      <div>Contact</div>
                      <Icon name="ion:mail" width="20" />
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <Footer /> -->
    </div>
  </body>
</html>
