---
import Header from "../components/Header.astro";
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<html lang="en" data-theme="lofi" class="antialiased">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="">
    <Header />

    <div class="max-w-3xl mx-auto px-4 py-2 md:py-5">
      <article class="">
        <header>
          <h1 class="text-4xl font-bold mb-2">Josh Chadwick</h1>
          <div class="text-base mb-4 md:flex gap-2">
            <div>
              Email: <a
                href="mailto:josh.chadwick@protonmail.com"
                class="underline text-blue-600 hover:text-blue-800"
                >josh.chadwick@protonmail.com</a
              >
            </div>
            <div>
              GitHub: <a
                href="https://github.com/engageintellect"
                class="underline text-blue-600 hover:text-blue-800"
                >engageintellect</a
              >
            </div>
          </div>
          <p>
            Projects: <a
              href="https://engage-showcase.vercel.app/projects"
              class="underline text-blue-600 hover:text-blue-800"
              >https://engage-showcase.vercel.app</a
            >
          </p>
          <p>Location: Orange County, CA</p>
        </header>

        <section>
          <h2 class="text-2xl font-semibold">About Me</h2>
          <div class="my-2 border-t border-gray-300"></div>
          <p class="">
            Full Stack Developer with over a decade of experience across various
            sectors including startup, tech, luxury automotive, consulting, and
            prop tech. Expert in developing scalable applications, integrating
            AI/ML technologies, and leading technological transformations.
          </p>
        </section>

        <section>
          <h2 class="text-2xl font-semibold">Technical Skills</h2>
          <div class="my-2 border-t border-gray-300"></div>
          <ul class="list-disc pl-5 space-y-1">
            <li>
              <strong>Languages</strong>: TypeScript, JavaScript, Python, Bash,
              GO, C, C++, C#.
            </li>
            <li>
              <strong>Frameworks</strong>: Next.js, Sveltekit, React, Astro,
              Node.js, Flask, Django.
            </li>
            <li>
              <strong>Technologies</strong>: AI/ML, Web Development, Agile
              Methodologies, DevOps, Cloud Services, Data Science, Blockchain,
              IoT.
            </li>
            <li>
              <strong>Tools</strong>: Git, Cloud Platforms (Vercel, AWS, Azure,
              GCP, Linode), CI/CD, Docker/Docker-Compose, Terraform.
            </li>
          </ul>
        </section>

        <section>
          <h2 class="text-2xl font-semibold">Professional Experience</h2>
          <div class="my-2 border-t border-gray-300"></div>
          <div class="flex flex-col gap-5">
            <!-- Example Entry -->

            <div class="">
              <p>
                <strong>Principal AI Engineer</strong>, Resonant Logic, Los
                Angeles, CA
              </p>
              <p>
                <em>Jan 2024 - Present</em>
              </p>
              <ul class="bulleted-list">
                <li style="list-style-type:disc">
                  Engineered a regulatory advisory generator utilizing Claude2,
                  HuggingFace, PyTorch, enhancing search, tagging, and analysis
                  across government intranet.
                </li>
                <li>
                  Deployed applications on AWS using Next.js and TailwindCSS for
                  front-end and backend solutions, significantly improving data
                  accessibility and analysis.
                </li>
              </ul>
            </div>
            <div class="my-2 border-t border-gray-300"></div>
            <div class="">
              <p>
                <strong>Software Engineer II - Emerging Technologies</strong>,
                First American Title, Santa Ana, CA
              </p>
              <p>
                <em>2022 - Present</em>
              </p>
              <ul>
                <li style="list-style-type:disc">
                  Developed AI/ML proofs of concept to enhance internal search
                  and data classification systems using OpenAI and HuggingFace
                  libraries.
                </li>
                <li style="list-style-type:disc">
                  Recognized with the “Innovation Challenge” award for
                  integrating APIs across platforms to enhance operational
                  connectivity.
                </li>
              </ul>
            </div>
            <div class="my-2 border-t border-gray-300"></div>
            <div class="">
              <p>
                <strong>Software Engineer</strong>, Rugged Development, Newport
                Beach, CA
              </p>
              <p>
                <em>Feb 2022 - Present</em>
              </p>
              <ul class="bulleted-list">
                <li style="list-style-type:disc">
                  Led the migration from WordPress/PHP to a React-based stack,
                  increasing client acquisition by 220% through enhanced web
                  functionalities.
                </li>
                <li style="list-style-type:disc">
                  Implemented analytics tools to refine customer engagement
                  strategies and platform optimization.
                </li>
              </ul>
            </div>
            <div class="my-2 border-t border-gray-300"></div>
            <div class="">
              <p>
                <strong>Business Systems Analyst - Emerging Technologies</strong
                >, First American Title, Santa Ana, CA
              </p>
              <p>
                <em>Oct 2021 - 2022</em>
              </p>
              <ul class="bulleted-list">
                <li style="list-style-type:disc">
                  Spearheaded the development and deployment of an Enterprise
                  Wiki, facilitating a seamless scale to over 430 active users.
                </li>
                <li style="list-style-type:disc">
                  Designed and implemented AWS infrastructure using Terraform,
                  enhancing enterprise-wide collaboration and document
                  management.
                </li>
              </ul>
            </div>
            <div class="my-2 border-t border-gray-300"></div>
            <div class="-t">
              <p>
                <strong
                  >Product Management Coordinator - Enterprise Architecture
                  &amp; Emerging Technologies</strong
                >, First American Title, Santa Ana, CA
              </p>
              <p>
                <em>Jun 2021 - Aug 2021</em>
              </p>
              <ul>
                <li style="list-style-type:disc">
                  Managed critical application reviews and documentation across
                  multiple teams, improving system resiliency and project
                  efficiency.
                </li>
              </ul>
            </div>
            <div class="my-2 border-t border-gray-300"></div>
            <div class="-t">
              <p>
                <strong>Founder</strong>, Grey Matter Extracts, Laguna Hills, CA
              </p>
              <p id="02a888b6-619a-4835-9759-0f1be883ad5c" class="">
                <em>Aug 2017 - Present</em>
              </p>
              <ul class="bulleted-list">
                <li style="list-style-type:disc">
                  Established an online marketplace platform using Django,
                  Stripe, and modern web technologies, managing end-to-end
                  ecommerce operations.
                </li>
              </ul>
            </div>
          </div>
        </section>

        <section>
          <h2 class="text-2xl font-semibold">Education and Certifications</h2>
          <div class="my-2 border-t border-gray-300"></div>
          <ul class="list-disc pl-5 space-y-1">
            <li>Python for Everybody</li>
            <li>JavaScript Language Course</li>
            <li>Data Science with Python</li>
          </ul>
        </section>

        <section>
          <h2 class="text-2xl font-semibold">Awards</h2>
          <div class="my-2 border-t border-gray-300"></div>
          <hr class="my-2 border-t border-gray-300" />
          <ul class="list-disc pl-5 space-y-1">
            <li>First American BTS Innovation Challenge Winner</li>
            <li>Apple RedZone Award</li>
          </ul>
        </section>

        <section>
          <h2 class="text-2xl font-semibold">Professional Affiliation</h2>
          <div class="my-2 border-t border-gray-300"></div>
          <hr class="my-2 border-t border-gray-300" />
          <ul class="list-disc pl-5 space-y-1">
            <li>Agile Professional Network</li>
            <li>AI and Machine Learning Enthusiasts Group</li>
          </ul>
        </section>
      </article>
    </div>
  </body>
</html>
