---
const today = new Date();
---

<hr />

<div class="flex items-center justify-center p-5 gap-2">
  <div>
    &copy;{today.getFullYear()}
  </div>
  <div>
    <a href="https://github.com/engageintellect" target="_blank">
      @engageintellect.</a
    >
  </div>
  <div>All rights reserved.</div>
</div>
