---
const today = new Date();
---

<hr />

<div class="flex items-center justify-center p-5 gap-2">
  <div>
    &copy;{today.getFullYear()}
  </div>
  <div>
    <a
      href="https://github.com/engageintellect"
      target="_blank"
      class="underline"
    >
      @engageintellect.</a
    >
  </div>
</div>
