---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<div class="pt-2 px-2 max-w-4xl mx-auto" transition:animate="none">
  <a href="/" class="text-2xl">
    {SITE_TITLE}
  </a>
</div>
<header transition:animate="none" class="sticky top-0 bg-white z-50 shadow-md">
  <nav class="max-w-4xl px-2 mx-auto flex flex-col items-start justify-start">
    <div class="flex justify-betwe w-full">
      <div class="flex items-center gap-5 w-full pt-1">
        <HeaderLink href="/about">About</HeaderLink>
        <HeaderLink href="/feed">Feed</HeaderLink>
        <HeaderLink href="/project">Projects</HeaderLink>
      </div>
    </div>
  </nav>
</header>
<style>
  /* Set initial styles for nav links */
  nav a {
    padding: 0.5rem 0em;
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }

  /* Define styles for the active state */
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }

  .bottom-shadow {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); /* Adjust shadow properties as needed */
  }
</style>
